/* Text-Transform | v1.0.0 | By AgustinSRG */

.text-transform {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: monospace;
}

.tt-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .tt-side {
        width: 100%;
    }
}

.tt-side-header {
    padding: 0.5rem 1rem;
}

.tt-side-header span {
    font-weight: bold;
    display: block;
    padding-bottom: 0.5rem;
}

.tt-side-body {
    padding: 0.5rem 1rem;
    height: 100%;
}


/* Textarea */

.tt-textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: auto;
    resize: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tt-textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.tt-textarea::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.tt-textarea:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.tt-textarea::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.tt-textarea::placeholder {
    color: #6c757d;
    opacity: 1;
}

.tt-textarea:disabled,
.tt-textarea[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.tt-error {
    color: red;
}


/* Select */

.tt-input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    word-wrap: normal;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tt-input:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

.tt-input::-ms-expand {
    background-color: transparent;
    border: 0;
}

.tt-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
